@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 400px;
}
.name{
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-transform: uppercase;
  gap: 15px;
}
.last_name{
  color: #3769bb;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #8A8A8A;
  top:130px;
}

.typingDemo {
  width: 26ch;
  animation: typing 2s steps(11), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  flex-direction: column;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
.change {
	font-size: 0;
}
.change::before {
  content: " Developer";
  font-size: 2rem !important;
  color: #3769bb;
  transition: 5s ease-out;
  animation: changing 5s infinite alternate;
}
@keyframes changing {
  0% {content: " Designer"}
  30% {content: " Designer"}
  50% {content: " Developer"}
  60% {content: " Developer"}
  100% {content: " Freelancer"}
}


@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.mark{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #313134; 
  border-radius: 10px;
  padding: 10px;
  background-color: #313134;

}
.button__{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 430px;
}
.button_contact{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: white;
  border: 1px solid purple;
  border-radius: 20px;
  width: 160px;
  padding: 10px;
  background-color: purple;
  transition: 0.2s ease-in-out;
}
.button_contact:hover{
  color: purple;
  background-color: #202023;
}

@media (max-width: 1080px) {
  
  .name{
    display: flex;
    font-size: 40px;
    text-transform: uppercase;
    gap: 10px;
  }
  .page{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    /* overflow: hidden; */
  }
  .button__{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
  }
  .typingDemo{
    /* max-width: 300px; */
    width: 26ch;
    animation: typing 2s steps(11), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    flex-direction: row;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
  }
  .change::before {
    /* content: " Design"; */
    font-size: 1.5rem !important;
    /* color: #3769bb; */
    transition: 2s ease-out;
    animation: changing 5s infinite;
  }

}