.prevCard {
  left: 0;
}

.activeCard {
  left: 50%;
  transform: translateX(-50%); /* the card is centered 
                               /* to itself
                               /* instead of the left edge
                               /* resting on the center line
}

.nextCard {
  right: 0;
}