.header{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  overflow: hidden;
}

.title{
  margin-top: 100px;
  text-transform: uppercase;
  color: rgb(59, 55, 55);
  justify-content: center;
}

.work_card{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px;
  padding: 30px;
}


@media (min-width:1900px) {
  .work_card{
    display: flex;
    margin-left: 0.25rem;
    justify-content: center;
    padding-left: 100px;
    padding: 10px;
  }
}
